form {
  #accountPicture {
    max-width: 250px;
  }

  #changePicture {
    top: 82%;
    left: 30px;

    .bi-pencil-fill {
      font-size: 0.8em;
      padding: 3px 5px;
      cursor: pointer;
    }
  }

  fieldset {
    width: 50%;
  }

  .commands {
    button {
      font-size: 1.3em;
      margin-bottom: 10px;
    }

    button:not(:first-of-type) {
      width: 190px;
    }
  }

  #username {
    min-height: 50px;

    &:focus {
      background-color: white !important;
      color: black !important;
    }
  }

  #btn-check-1 + label,
  #btn-check-2 + label {
    display: block;
    background-color: black !important;
  }

  #btn-check-1:checked + label,
  #btn-check-2:checked + label {
    color: red !important;
  }

  #btn-check-1:not(:checked) + label,
  #btn-check-2:not(:checked) + label {
    color: black !important;
  }

  .check {
    font-size: 2.5em;
    line-height: 1em;
  }
}
