header nav {
  // li a {
  //   transition-property: color !important;
  //   transition-duration: 0.5s !important;
  // }
  a:link,
  a:visited {
    color: white !important;
    font-weight: 400;
  }

  a:hover {
    color: red !important;
  }

  .navRight div {
    width: 40px;
  }

  #avatarMenu {
    width: 20px;
  }
}
